html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
}
.container {
  display: grid;
  place-items: center;
  height: 80vh;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.input-class{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
  align-items: center;
  font-weight: bold;
}

.input-class input{
  width: 250px;
  height: 30px;
  border-radius: 12px!important;
  box-shadow: 0 0 .2em #007bff!important;
  outline-color: #007bff!important;
  padding: 8px;
  outline: none;
  border:1px solid #007bff
}
.Buttton{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 8px;
  border: 2px solid #007bff;
  background: #007bff;
  color: #ffff !important;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s ease;
  font-weight: bold;
}
.delet{
  width: 80px;
  padding: 4px;
  border: 2px solid #ff0051;
  background: #FFF;
  color: #ff0051;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s ease;
  font-weight: bold;
}
.delet:hover{
background: #ff0051;
color: #fff;
}
.image{
  width: 300px;
}
.card {
  position: relative;
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border : 1px solid #007bff; */
  border-radius: 12px;
  padding: 12px;
  /* gap: 1rem; */
  flex-shrink: 0;
  z-index: 1;
  box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-fill-color: #0000;
  background: linear-gradient(45deg,#007bff,#ff0051);
  background-clip: text;
  -webkit-background-clip: text;
}
.card p {
  /* color: #ffff; */
  font-size: 14px;
  font-weight: 400;
}
/* styles.css */

body {
  font-family: Arial, sans-serif;
}

.number-list {
  list-style: none !important;
  padding-left: 0;
  margin: 20px;
}

.number-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}

.number-list li::before {
  content: counter(item) "";
  counter-increment: item;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  text-align: center;
}

.number-list {
  counter-reset: item; /* Réinitialise le compteur */
}
